.head-line {
    margin-top: 1em;
    display : flex;
    justify-content: center;
}

.head-line svg {
    width: 430px;
}

.menus {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    border-top: solid 1px #ebebeb;
    border-bottom: 4px double black;
    flex-wrap: wrap;
}

.menus button {
    border:none;
    background:none;
    margin:5px;
    font-size: 15px;
    
}

.menus button:hover{
    background-color: beige;

}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news {
    border-bottom: 1px solid black;
}